html {
    font-size: 14px;
    font-family: "Open Sans";
}
.jumbotron {
    background-image: url(../images/jumbotron-bike.jpg);
    background-size: cover;
    background-repeat: none;
    background-position: center;
}
.image-container img {
    max-height: 350px;
}
.nav li {
    font-size: 1.1rem;
    font-weight: bold;
}
.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover {
  background-color: inherit;
  color: #399bd1;
}
.jumbotron h1 {
    margin-top: 11.85rem;
    font-family: 'Monoton';
    color: white;
    font-size: 7.1rem;
    text-shadow: -1px -1px 0 #000,
                 -1px -1px 0 #000,
                 -1px -1px 0 #000,
                 -1px -1px 0 #000;
    display: flex;
    justify-content: center;
}
.jumbotron p {
    color:white;
    max-width: 51.3rem;
    margin: auto;
    text-shadow: -1px -1px 0 #000;
}
.jumbotron a {
    margin-top: 2.8rem;
    padding-top: 1.3rem;
    padding-bottom: 1.3rem;
    width: 11.4rem;
    margin-left: 35rem;
    font-weight: bold;
}
.btn-primary {
    background-color: #399bd1;
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.5);
}
.featured h2 {
    font-size: 1.7rem;
    font-weight: bold;
    margin-bottom: 1.43rem;
    color: #399bd1;
}
.image-container {
    overflow: hidden;
}
.featured-copy h3 {
    font-size: 1.3rem;
    font-weight: bold;
    margin-bottom: 1rem;
}
.featured-copy p {
    margin-bottom: 1rem;
    line-height: 1.4rem;
}
.featured-copy li {
    line-height: 1.4rem;
    color: rgba(0, 0, 0, 0.7);
}
.hightlight {
    color: #399bd1;
}
.product-highlight h3 {
    color: #399bd1;
}