html {
    font-size: 14px;
    font-family: "Open Sans";
}
.jumbotron {
    background-image: url(../images/jumbotron-bike.jpg);
    background-size: cover;
}
.image-container img {
    max-height: 350px;
}