html {
    font-size: 14px;
    font-family: "Open Sans";
}
.jumbotron {
    background-image: url(../images/jumbotron-bike.jpg);
    background-size: cover;
    background-repeat: none;
    background-position: center;
}
.image-container img {
    max-height: 350px;
}
.nav li {
    font-size: 1.1rem;
    font-weight: bold;
}
.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover {
  background-color: inherit;
  color: #399bd1;
}
.jumbotron h1 {
    margin-top: 11.85rem;
    font-family: 'Monoton';
    color: white;
    font-size: 7.1rem;
    text-shadow: -1px -1px 0 #000,
                 -1px -1px 0 #000,
                 -1px -1px 0 #000,
                 -1px -1px 0 #000;
    display: flex;
    justify-content: center;
}
.jumbotron p {
    color:white;
    max-width: 51.3rem;
    margin: auto;
    text-shadow: -1px -1px 0 #000;
}
.jumbotron a {
    margin-top: 2.8rem;
    padding-top: 1.3rem;
    padding-bottom: 1.3rem;
    width: 11.4rem;
    margin-left: 35rem;
    font-weight: bold;
}